.works__section{
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}
.works__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.works__item{
    width: 90vw;
    height: 50vh;
    position: relative;
    display: block;
    align-items: center;
    justify-content: space-evenly;
}
.works__item:not(:last-child){
    margin-bottom: 30px;
}
.works__description{
    width: 100%;
    height: 100%;
    z-index: 2;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    color: white;
    opacity: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.works__description:hover{
    opacity: 1;
    cursor: pointer;
}
.works__directed{

}
.works__director{

}
@media screen and (min-width: 768px){
    .works__list{
        display: flex;
        align-items: center;
        justify-content: center;   
    }
    
    .works__item{
        width: 40vw;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        margin-right: 50px;
    }
    .works__item:not(:last-child){
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 1240px) {
    .works__item{
        width: 24vw;
        height: 20vh;

    }
}

/* .works__name{
 color: white;   
 position:absolute;
 transform: rotate(70deg);

}
.works__dop{
    position: absolute;
    transform: rotate(70deg);
    color: white;
} */
.works__box{
    position:absolute;
    color: white;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.works__image{
    width: 100vw;
    height: 50vw;
}
@media screen and (min-width: 1280px){
    .works__image{
        height: 100vh;
    }
}
.worksVideoQwe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100vw !important;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: black;
}