.partners__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.partners__item{
    position: relative;
    margin-bottom: 20px;
}

.partners{
    padding-top: 50px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 10%, rgba(167, 91, 91, 1) 60%, rgba(203, 5, 5, 1) 93%);
}
.partners__text{
    height: 100px;
        letter-spacing: 3px;
        font-family: 'Bebas Neue', cursive;
        font-size: 28px;
        line-height: 1;
}
@media screen and (min-width: 320px){
    .partners__item{
        width: 200px;
    }
}
@media screen and (min-width: 768px){
    .partners__name{
        font-size: 32px;
    }
    .partners__item{
        display: flex;
        align-items: center;
        width: 600px;
        flex-direction: row;
    }
    .partners__text{
        margin-left: 30px;
        font-size: 25px;
    }
    .partners__iamge {
        width: 300px;
    }
}

@media screen and (min-width: 1240px){
    .partners__list{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
    
