.partners{
    /* background-color: #2e2e2e; */
    padding-top: 78px;
    padding-bottom: 107px;
}
.partners__content{
    margin-top: 215px;
    position: relative;
    display: flex;
    align-items: top;
    justify-content: flex-end;
}
.partners__content{

}
.partners__list{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.partners__list__item{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.partners__list__item:not(:last-child){
    margin-right: 26px;
}
.partners__list__item__names{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 6px;
}
.partners__list__item__description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 11px;
}
.partners__list__item__job{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    text-align: justify;
    text-transform: uppercase;
    
    color: #B00000;
}