@media screen and (max-width: 767px) {
.headerSection {
            position: fixed;
            width: 100%;
        padding: 20px 20px 10px 10px;
        z-index: 1;

    }

    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burgetMenuButton {
        width: 30px;
        margin-left: auto;
    }

    .navigationMenuList {
        display: none;
    }

    .logoContainer {
        display: none;
    }
}

@media screen and (min-width: 768px) {
.headerSection {
            position: fixed;
            width: 100%;
        padding: 30px 5px 20px 20px;
        z-index: 1;

    }
        .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burgetMenuButton {
        width: 35px;
        margin-left: auto;
    }

    .navigationMenuList {
        display: none;
    }

    .logoContainer {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .headerSection {
        width: 100%;
        padding: 10px 5px 10px 0px;
        position: fixed;
        z-index: 1;
    }

    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burgetMenuButton {
        display: none;
    }

    .navigationMenuList {
        display: flex;
        align-items: center;
    }

    .navigationMenuList > li:not(:last-child) {
        margin-right: 30px;
    }

    .logoContainer {
        display: block;
    }
    
     .navigationMenuList > li > a {
        font-family: "Anton";
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 2px;
        color: var(--white);
    }

    
}