.headerSection {
    position: relative;
    padding-top: 8px;
    width: 100%;
    z-index: 1;
}

    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logoContainer {
        width: 22px;
        height: 29px;
    }

    .burgetMenuButton {
        width: 21px;
        height: 21px;
    }

.navigationMenuList {
    display: none;
}

/* @media screen and (max-width: 767px) {
    .headerSection {
        width: 100%;
        padding: 20px 0px 10px 0px;
        z-index: 1;

    }

    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burgetMenuButton {
        width: 30px;
        margin-left: auto;
    }

    .navigationMenuList {
        display: none;
    }

    .logoContainer {
        display: none;
    }

    .animationLogo {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .headerSection {
        width: 100%;
        padding: 30px 5px 20px 20px;
        z-index: 1;

    }

    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burgetMenuButton {
        width: 35px;
        margin-left: auto;
    }

    .navigationMenuList {
        display: none;
    }

    .logoContainer {
        display: none;
    }

    .animationLogo {
        display: none;
    }
} */

@media screen and (min-width: 1280px) {
    .headerSection {
        width: 100%;
        padding: 50px 5px 10px 0px;
        position: absolute;
        z-index: 1;
    }

    .headerContainer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .burgetMenuButton {
        display: none;
    }

    .navigationMenuList {
        display: flex;
        align-items: center;
        background: #252525;      
        padding: 20px 28px;
    }

    .navigationMenuList>li:not(:last-child) {
        margin-right: 25px;
    }

    .logoContainer {
        display: block;
        animation: logoShow .1s linear;
        animation-fill-mode: forwards;
    }

    .animationLogo {
        display: block;
        animation: logo .1s linear;
        animation-fill-mode: forwards;
    }

    @keyframes logoShow {
        0% {
            opacity: 0;
        }

        25% {
            opacity: .3;
        }

        50% {
            opacity: 0.5;
        }

        75% {
            opacity: .8;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes logo {
        0% {
            opacity: 1;
        }

        25% {
            opacity: .8;
        }

        50% {
            opacity: 0.5;
        }

        75% {
            opacity: .3;
        }

        100% {
            opacity: 0;
        }
    }

    .navigationMenuList>li>a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    }



    .navigationMenuList>li>button {
        /* font-family: "Anton"; */
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 3px;
        color: var(--white);
    }

    .navigationMenuList>li:last-child>button {
        /* font-family: "Anton"; */
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 2px;
        color: rgb(196, 4, 4);
    }

    .navigationMenuList>li>button::selection {
        background-color: rgb(4, 4, 89);
    }

    .navigationMenuList>li>a:hover {
        color: rgb(196, 4, 4);
    }

    .navigationMenuList>li>button:hover {
        color: rgb(196, 4, 4);
    }

    .navigationMenuList>li:last-child>button:hover {
        color: white;
    }

}