@media screen and (max-width: 767px) {
.headerSection {
            position: fixed;
            width: 100%;
        padding: 20px 0px 10px 0px;
        z-index: 1;

    }

    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burgetMenuButton {
        width: 30px;
        margin-left: auto;
    }

    .navigationMenuList {
        display: none;
    }

    .logoContainer {
        display: none;
    }
}

@media screen and (min-width: 768px) {
.headerSection {
            position: fixed;
            width: 100%;
        padding: 30px 5px 20px 20px;
        z-index: 1;

    }
        .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burgetMenuButton {
        width: 35px;
        margin-left: auto;
    }

    .navigationMenuList {
        display: none;
    }

    .logoContainer {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .headerSection {
        width: 100%;
        padding: 50px 5px 10px 0px;
        position: fixed;
        z-index: 1;
    }

    .headerContainer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .burgetMenuButton {
        display: none;
    }

    .navigationMenuList {
        display: flex;
        align-items: center;
    }

    .navigationMenuList > li:not(:last-child) {
        margin-right: 30px;
    }

    .logoContainer {
        display: block;
        animation: logoShow .1s linear;
        animation-fill-mode: forwards;
    }

    .animationLogo {
            animation: logo .1s linear;
            animation-fill-mode: forwards;
    }

    @keyframes logoShow {
        0% {
    opacity: 0;
}

25% {
    opacity: .3;
}
50% {
    opacity: 0.5;
}
75% {
    opacity: .8;
}
100% {
    opacity: 1;
}
    }

    @keyframes logo {
0% {
    opacity: 1;
}

25% {
    opacity: .8;
}
50% {
    opacity: 0.5;
}
75% {
    opacity: .3;
}
100% {
    opacity: 0;
}
    }

         .navigationMenuList > li > a {
        font-family: "Anton";
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 2px;
        color: var(--white);
    }
    
     .navigationMenuList > li > button {
        font-family: "Anton";
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 2px;
        color: var(--white);
    }

    .navigationMenuList>li>a:hover {
            color: rgb(196, 4, 4);
        }

        .navigationMenuList>li>button:hover {
            color: rgb(196, 4, 4);
        }

    
}