.worksPage {
        min-height: 100vh;
        padding-top: 50px;
        background-color: #222222;
        
}

.filterList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.filterList>li {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 14px;
        color: #FFFFFF;
        padding: 5px;
        cursor: pointer;
        text-transform: uppercase;
    }

    .filterList>li:not(:last-child) {
        margin-bottom: 18px;
    }

@media screen and (min-width: 800px) {
.worksPage {
    padding-top: 125px;
}

.filterList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

    .filterList>li {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 7px;
        cursor: pointer;
        margin-bottom: 18px;
    }

    .filterList>li:not(:last-child) {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .worksPage {
        padding-top: 150px;
    }

    .filterList {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .filterList>li {
        margin-bottom: 30px;
    }
    
}