        .coursesSection {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .pageTitle {
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
    letter-spacing: 1.2px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 15px;
}

.cardContainer {
    padding: 15px 15px 20px 20px;
    background: #7db9e8;
    background: -moz-linear-gradient(-45deg, #7db9e8 0%, #2989d8 45%, #1e5799 100%);
    background: -webkit-linear-gradient(-45deg, #7db9e8 0%, #2989d8 45%, #1e5799 100%);
    border-radius: 13px;
}

.cardContainer:not(:last-child) {
   margin-bottom: 20px;
}

.cardTitle {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    letter-spacing: 1.1px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.coursesList {
    list-style: disc;
}

.coursesList>li {
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    letter-spacing: 1.1px;
    font-weight: normal;
    color: #fff;
    padding: 5px;
}

.coursesList>li:not(:last-child) {
    margin-bottom: 5px;
}

.buttonContainer {
  text-align: center;
}

.buttonProposition {
    font-family: 'Bebas Neue', cursive;
        font-size: 18px;
        letter-spacing: 1.2px;
        font-weight: normal;
        color: #002a5a;
        padding: 10px 25px 10px 25px;
   /* background-color: #002a5a; */
   background-color: #fff;
   /* border: 1px solid #002a5a; */
   border-radius: 15px;
   margin-top: 20px;
   cursor: pointer; 
}

.buttonProposition:hover {
    background: #fefcea;
    background: -moz-linear-gradient(left, #fefcea 0%, #f1da36 100%);
    background: -webkit-linear-gradient(left, #fefcea 0%, #f1da36 100%);
    background: linear-gradient(to right, #fefcea 0%, #f1da36 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefcea', endColorstr='#f1da36', GradientType=1);
    /* color: #002a5a; */
}

@media screen and (min-width: 768px) {
        .coursesSection {
    padding-top: 25px;
    padding-bottom: 25px;
}

        .pageTitle {
    font-size: 32px;
}

.cardsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.cardContainer {
    width: calc(100% / 3 - 40px);
    padding: 20px 15px 20px 20px;
}

.cardContainer:not(:last-child) {
    margin-right: 20px;
}

.cardTitle {
    font-size: 22px;
}

.coursesList>li {
    font-size: 18px;
}

}
     

@media screen and (min-width: 1280px) {
    .coursesSection {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pageTitle {
    font-size: 36px;
    margin-bottom: 20px;
}

.cardContainer {
    padding: 20px 20px 15px 20px;  
}

/* .cardContainer:not(:last-child) {
    margin-right: 20px;
} */

.cardTitle {
    font-size: 24px;
    margin-bottom: 15px;
}

.coursesList > li {
    font-size: 20px;
}

.coursesList>li:not(:last-child) {
    margin-bottom: 10px;
}

/* .buttonProposition {
    margin-top: 20px;
} */

.formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: rgb(248, 80, 80);
}

}

