.heroSectionContainer {
    padding-top: 100vh;
}

.videoContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.videoContainer>a {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(223, 218, 218);
    font-size: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.ChangeLangButtonContainer {
    position: fixed;
    z-index: 1;
    top: 95%;
    left: 93%;
    transform: translate(-50%, -50%);
}

.ChangeLangButtonContainer>button:not(:last-child) {
    margin-right: 20px;
}

.ChangeLangButtonContainer>button>a {
    font-family: 'Bebas Neue', cursive;
    color: rgb(223, 218, 218);
    font-size: 14px;
    letter-spacing: 3px;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 323px;
    height: 178px;
}

.heroText {
    position: absolute;
    bottom: 0;
    background-image: url("../../images/hero-text-mob.png");
    background-position: top;
    background-repeat: no-repeat;
    animation: five 1 .2s linear;
    width: 323px;
    height: 178px;
}

/* @media screen and (min-width: 320px) {
    .title {
        font-family: 'Bebas Neue', cursive;

        color: rgb(223, 218, 218);
        font-size: 24px;
        letter-spacing: 4px;
        text-align: center;
    }

    .videoContainer>a {
        color: rgb(223, 218, 218);
        font-size: 9px;
        letter-spacing: 4px;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }
} */

/* @media screen and (min-width: 599px) {


} */

/* @media screen and (min-width: 768px) {
    .title {
        width: 100%;
        text-align: center;
        font-size: 30px;
        top: 50%;
    }

    .videoContainer>a {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(223, 218, 218);
        font-size: 10px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }
} */

@media screen and (min-width: 1280px) {
    .title {
                position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        color: rgb(223, 218, 218);
        font-size: 90px;
        letter-spacing: 4px;
   }

       .title > span {
                height: 223px;
                    animation: five 1 .2s linear;
   }

    .videoContainer>a {
        font-family: 'Bebas Neue', cursive;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(223, 218, 218);
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 4px;
        text-transform: uppercase;
    }
}


@keyframes five {
0% {
    height: 0px;
}

100% {
    height: 178px;
}
}