.heroSectionContainer {
    padding-top: 100vh;
}

.videoContainer {
position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.videoContainer > a {
    position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(223, 218, 218);
        font-size: 10px;
        letter-spacing: 4px;
        text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
    .ChangeLangButtonContainer {
        display: none;
    }
}
.ChangeLangButtonContainer {
    position: fixed;
    z-index: 1;
        top: 95%;
        left: 93%;
        transform: translate(-50%, -50%);
}

.ChangeLangButtonContainer > button:not(:last-child) {
   margin-right: 20px;
}

.ChangeLangButtonContainer>button > a {
    color: rgb(223, 218, 218);
        font-size: 10px;
        letter-spacing: 1px;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

@media screen and (min-width: 320px) {
    .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(223, 218, 218);
    font-size: 20px;
    letter-spacing: 4px;
    }

    .videoContainer > a {
    position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(223, 218, 218);
        font-size: 7px;
        letter-spacing: 4px;
        text-transform: uppercase;
}
}

@media screen and (min-width: 768px) {
    .title {
        width: 100%;
        text-align: center;
        font-size: 30px;
        }
    
        .videoContainer > a {
    position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(223, 218, 218);
        font-size: 10px;
        letter-spacing: 4px;
        text-transform: uppercase;
}
}

@media screen and (min-width: 1280px) {
        .title {
                    width: 100%;
                    text-align: center;
                /* position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); */
                color: rgb(223, 218, 218);
                font-size: 60px;
                letter-spacing: 4px;
            }
        
            .videoContainer>a {
                position: absolute;
                top: 58%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgb(223, 218, 218);
                font-size: 11px;
                letter-spacing: 4px;
                text-transform: uppercase;
            }
}



.title > span:first-child {
    opacity: 1;
    animation: type 1 3s linear;
}

.title>span:nth-child(2) {
    opacity: 1;
    animation: myName 1 3s linear;
} 

.title>span:nth-child(3) {
    opacity: 1;
    animation: th 1 3s linear;
}

.title>span:nth-child(4) {
    opacity: 1;
    animation: for 1 3s linear;
}

.title>span:nth-child(5) {
    opacity: 1;
    animation: five 1 3s linear;
}

@keyframes type {
0% {
    opacity: 0;
}

100% {
    opacity: 1;
}

}
 @keyframes myName {
    
10% {
    opacity: 0;
}

100% {
    opacity: 1;
}
}

 @keyframes th {

     20% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

  @keyframes for {

      30% {
          opacity: 0;
      }

      100% {
          opacity: 1;
      }
  }

   @keyframes five {

       40% {
           opacity: 0;
       }

       100% {
           opacity: 1;
       }
   }