.partners{
    /* background-color: #2e2e2e; */
    position: relative;
    padding-top: 78px;
    padding-bottom: 80px;
}
.partners__content{
    margin-top: 215px;
    position: relative;
    display: flex;
    align-items: top;
    justify-content: flex-end;
}
.partners__content{

}
.partners__list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners__list__item{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.partners__list__item:not(:last-child){
    margin-right: 26px;
}
.partners__list__item__names{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 6px;
}
.partners__list__item__description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 11px;
}
.partners__list__item__job{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    text-align: justify;
    text-transform: uppercase;
    
    color: #B00000;
}

.box{
    display: flex;
    align-items: center;
    justify-self: start;
    flex-direction: column;

}
.name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: justify;
    font-variant: small-caps;

    color: #FFFFFF;
    margin-top: 11px;
    margin-bottom: 6px;
}
.position{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    text-align: justify;
    text-transform: uppercase;
    
    color: #B00000;

}

@media screen and (min-width: 380px) {
    .container__title {
z-index: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 122px;
    text-transform: uppercase;
    color: #FFFFFF;
}
}

@media screen and (min-width: 1280px) {
    .container__title {
z-index: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 122px;
    text-transform: uppercase;
    color: #FFFFFF;
    }
}
