 @media screen and (min-width: 360px) {
.aboutSection {
    background-image: url('../../../images/background/About-back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
  }

  .contentContainer {
    position: relative;
  }

  .contentContainer > p:nth-child(3) {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .contentContainer > p:nth-child(2) {
    margin-top: 26px;
  }

  .textAbout {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  color: #FFFFFF;
  }
  
}

/* @media screen and (min-width: 768px) {

  .containerFotoCreators {
    margin-bottom: 50px;
  }

  .team_list {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card_team {
    margin-bottom: 0px;
  }

  .card_team:first-child {
    display: flex;
    flex-direction: column-reverse;
  }

  .text_wrap {
    margin-top: 0px;
  }

 .role_p {
   font-size: 22px;
 }

  .name_p {
    margin-bottom: 10px;
  }

  .textAbout {
    font-size: 38px;
    line-height: 40px;
  }
}  */

@media screen and (min-width: 1280px) {
    .contentContainer {
        position: relative;
      }

  .contentContainer > p:nth-child(3) {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .textAbout {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: start;
  color: #FFFFFF;
  }
}
