.footer {
    display: flex;
    padding-top: 50px;
    color: #fff;
}
.footer__list{
    list-style: none;
    text-transform: uppercase;
    position: relative;
}
@media screen and (min-width: 320px) {
    .footer__list{
        /* height: 170px; */
    }

    .footer__modal__list>li {
    width: 110px;
    padding: 1px;
}
    .footer{
        padding-bottom: 50px;
        justify-content: space-evenly;
    }
    .footer__item:not(:last-child){
        margin-bottom: 30px;
    }
    .footer__image{
        flex-flow: row wrap;
        margin-left: 30px;

    }
    .footer__modal__list{    
        left: 145px;
    }
    .footer__modal__list__work{
        left: 175px;
        top: -50px;
    }
    .footer__modal__list__language{
        top:0;
        left:175px;
    }

    .footer__item > ul{
        position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;            font-size: 11px;
                font-weight: 100;
                letter-spacing: 2px;
                     
    width: 100%;
    list-style: none;
    padding: 0;
}
}

@media screen and (min-width: 768px) {

    .footer{
        padding-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .footer__list{
        width: 100%;
        /* min-width: 750px; */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        margin-bottom: 30px;
    }
    .footer__item:not(:last-child){
        margin-bottom: 0;
    }
    .footer__item{
        margin-bottom: 0;
        display: flex;
        align-items: center; 
        justify-content: center;
    }
    .footer__image{
        margin-left: 0px;
    }
    .footer__modal__list{
        top: 30px;
        left: 0px;
    }

        .footer__modal__list>li {
    width: 150px;
    padding: 1px;
}
    /* .footer__modal__list__work{
        left: -30px;
    } */
    .footer__model__list__ua{
        left: 0px;
    }
    .footer__modal__list__work__ua{
        left: -20px;
    }
   .footer__modal__list__work__ru{
        left: -33px;
   }
   .footer__modal__list__language{
    left:0;
    top:30px;
   }

   .footer__item>ul {
       position: absolute;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       text-decoration: none;
            font-family: 'Bebas Neue', cursive;
                   font-size: 12px;
       font-weight: 100;
       letter-spacing: 3px;

       width: 100%;
       list-style: none;
       padding: 0;
   }
    
}
@media screen and (min-width: 1280px) {
    .footer {
            padding-bottom: 50px;
        }
    .footer__list{

    }

    .footer__modal__list>li {
    width: 180px;
    padding: 1px;
}

    .footer__item > ul{
        position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
              font-size: 18px;
                font-weight: 100;
                letter-spacing: 3px;
                     
    width: 100%;
    list-style: none;
    padding: 0;
}

}
@media screen and (min-width: 1920px) {

}

.footer__item{
    display: flex;
    position: relative;
    align-items: center;
        justify-content: center;
        flex-direction: column;
}
.footer__item:hover{
    cursor: pointer;
}
.footer__item > p{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-size: 20px;
    margin: 0px;
}


.footer__about{
    
}
.footer__works>ul>li>a{
color:black
}
.footer__language{
    position: relative;
}
.footer__language>ul>li>a{

    text-decoration: none;
    color: white;


}
.footer__contacts{

}
.footer__follow{

}
.footer__image{
    width: 120px;
    height: 100px;
    display: flex;
    align-items: flex-start;
    /* transform: translateY(-10px); */
    justify-content: center;
 
}
.footer__modal__list{

}
.footer__modal__list>li:not(:last-child){
    margin-bottom: 3px;
}


.footer__modal__list>li>a{
    color: #fff;
    text-decoration: none;

}
