.background{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/backFooter.png);
}
.footer__top{
    padding-top: 50px;
    padding-bottom: 60px;
}
.footer__list{
    display: flex;
    flex-direction: row;
}
.footer__list__item:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 250px;
}
.footer__list__item:last-child{
padding-left: 300px;
}
.footer__bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    color:white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.footer__list__item > button{
    margin-top: 75px;
}
.footer__nav__list__item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    height: 19px;
    color: #FFFFFF
}
.footer__nav__list__item:not(:last-child){
    margin-bottom: 15px;
}
.footer__list_contacts{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 34px;
}
.footer__list__mail > a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color:white;
    margin-bottom: 15px;
}
.footer__list__tel > a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.footer__list__link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer__list__link__item:not(:last-child){
    margin-right: 20px;
}