.socialList {
  position: fixed;
  right: 5px;
  bottom: 0;
}

.socialItem {
  margin-bottom: 10px;
}

.socialItem:hover > a {
  transform: scale(1.2);
}

.socialItem > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: #fff;
}

.socialItem>a>button {
  padding: 8px;
  color: #fff;
}

.socialItemLang {
  position: relative;
  display: flex;
  align-items: center;
    justify-content: center;
    padding: 8px;
    color: #fff;
    cursor: pointer;
}

.socialItemLang:hover > span {
  transform: scale(1.2);
}

.socialItemLang:hover  .ChangeLangButtonContainer {
    position: absolute;
      right: 20px;
      top: 25%;
      display: flex;
      align-items: center;
}

.ChangeLangButtonContainer {
  display: none;
}

.ChangeLangButtonContainer>button {
  padding: 2px;
  margin-right: 20px;
}

.ChangeLangButtonContainer>button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.ChangeLangButtonContainer>button>a {
  font-family: 'Bebas Neue', cursive;
  color: rgb(223, 218, 218);
  font-size: 14px;
  letter-spacing: 3px;
}

.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: rgb(248, 80, 80);
}

.subscribe_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 46px;
}

.subscribe_form__input {
  color: #ffffff;
  font-size: 25px;
  background: transparent;
  width: 250px;
  height: 41px;
  outline: none;
  border: none;
  padding: 4px 6px;
  border-bottom: 1px solid #fff;
  border-radius: 4px;
}

.subscribe_form__input::placeholder {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

.btn {
  letter-spacing: 1.5px;
  font-family: 'Bebas Neue', cursive;
  cursor: pointer;
  margin: 0 auto;
  width: 154px;
  height: 52px;
  background: transparent;
  border-radius: -27px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

  .subscribe_form__input {
    width: 300px;
  }

  .btn {
    font-size: 24px;
    line-height: 24px;
    width: fit-content;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
  }

  .subscribe_form__input::placeholder {
    font-size: 24px;
    line-height: 24px;
  }

  .subscribe_form {
    display: flex;
    justify-content: center;
    margin-top: 66px;
  }

  .subscribe_form {
    margin-top: 168px;
  }

  .subscribe_form__input {
    width: 400px;
  }

  .subscribe_form__input::placeholder {
    font-size: 28px;
    line-height: 35px;
  }

  .btn {
    width: 217px;
    font-size: 28px;
    line-height: 35px;
  }


/* --------- CONTACT OLD VERSION ------------- */

/* @media screen and (min-width: 320px) {
  .wrap {
    background-color: #b00000;
    padding: 40px 30px 20px 30px;
    width: 100%;
    text-align: center;
  }

  .titleRight {
    display: none;
  }

  .section {
    margin: 0 auto;
  }

  .title {
    display: none;
  }

  .text {
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    margin-bottom: 7px;
  }

  .containerLink {
      margin-bottom: 20px;
  }

  .social_link > a {
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .subscribe_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 46px;
  }

  .subscribe_form__input {
    color: #ffffff;
    font-size: 25px;
    background: transparent;
    width: 250px;
    height: 41px;
    outline: none;
    border: none;
    padding: 4px 6px;
    border-bottom: 1px solid #fff;
    border-radius: 4px;
  }

  .subscribe_form__input::placeholder {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
  }

  .btn {
    letter-spacing: 1.5px;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
    margin: 0 auto;
    width: 154px;
    height: 52px;
    background: transparent;
    border-radius: -27px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
  }
}

@media screen and (min-width: 768px) {


  .wrap {
    padding: 40px 25px 40px 25px;
    width: 100%;
  }

  .containerLink:nth-child(2) {
    margin-bottom: 0;
  }

  .title {
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
  }

  .social_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .phonesContainer {
    display: flex;
    flex-direction: column;
  }

  .phonesContainer .social_link {
    display: inline-block;
    font-size: 22px;
  }

  .text {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .social_link {
    font-size: 22px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
  }

  .subscribe_form__input {
    width: 300px;
  }

  .btn {
    font-size: 24px;
    line-height: 24px;
    width: fit-content;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
  }

  .subscribe_form__input::placeholder {
    font-size: 24px;
    line-height: 24px;
  }

  .subscribe_form {
    display: flex;
    justify-content: center;
    margin-top: 66px;
  }

}

@media screen and (min-width: 1240px) {

  .contactsSection {
    position: relative;
      font-family: "Bebas Neue";
      font-size: 24px;
      letter-spacing: 2px;
      color: rgb(220, 23, 23);
  }

  .wrap {
    padding: 60px 10px 30px 10px;
  }

  .titleRight {
    font-family: 'Bebas Neue', cursive;
      letter-spacing: 2px;
      font-weight: 400;
      display: block;
      font-size: 60px;
      color: #fff;
      position: absolute;
      bottom: 50%;
      right: -50px;
      transform: rotate(-270deg);
      margin-bottom: 0;
  }

  .text {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 3px;
  }

  .social_list {
    width: 70%;
   margin: 0 auto;
  }

  .social_link {
        padding: 5px;
        transition: all .5s;
  }

    .social_link:hover {
      transform: scale(1.02);
    }

  .social_link > a {
        position: relative;
        display: inline-block;
    margin-top: 10px;
    font-size: 32px;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
  }

    .social_link > a:hover {
    color: #000;
  }

  .phonesContainer .social_link {
    font-size: 28px;
  }

  .phonesContainer {
    margin-left: auto;
  }

  .title {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-weight: 400;
    display: block;
    font-size: 60px;
    color: #fff;
    position: absolute;
    bottom: 50%;
    left: -50px;
    transform: rotate(270deg);
    margin-bottom: 0;
  }

  .subscribe_form {
    margin-top: 168px;
  }

  .subscribe_form__input {
    width: 400px;
  }

  .subscribe_form__input::placeholder {
    font-size: 28px;
    line-height: 35px;
  }

  .btn {
    width: 217px;
    font-size: 28px;
    line-height: 35px;
  }
} */