@media screen and (min-width: 320px) {
  .wrap {
    position: relative;
    background-color: #b00000;
    padding: 90px 25px 80px 25px;
    width: 100%;
  }

  .section {
    max-width: 320px;
    margin: 0 auto;
  }

  .title {
    display: none;
  }

  .text {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
  }

  .social_link {
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
  }

  .subscribe_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 66px;
  }

  .subscribe_form__input {
    color: #ffffff;
    font-size: 25px;
    background: transparent;
    width: 250px;
    height: 41px;
    outline: none;
    border: none;
    padding: 4px 6px;
    border-bottom: 1px solid #fff;
    border-radius: 4px;
  }

  .subscribe_form__input::placeholder {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  .btn {
    cursor: pointer;
    margin: 0 auto;
    width: 154px;
    height: 52px;
    background: transparent;
    border-radius: -27px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .section {
    max-width: 600px;
  }

  .title {
    display: none;
    /* display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 113px;
    left: 0px;
    transform: rotate(270deg); */
  }

  .text:last-child {
    margin-left: 135px;
  }

  .text {
    font-size: 24px;
    line-height: 24px;
  }

  .social_link {
    font-size: 24px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
  }

  .subscribe_form__input {
    width: 300px;
  }

  .btn {
    margin-left: 39px;
    text-transform: uppercase;
    color: white;
    margin: 0 0 039px;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    padding: 180px 50px 100px 50px;
  }

  .text:last-child {
    margin-left: 0px;
    margin-top: 20px;
  }

  .text {
    font-family: "Anton";
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 2px;
    margin-bottom: 25px;
  }

    .text > a {
      display: inline-block;
      margin-top: 15px;
    }

  .social_link {
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
  }

  .title {
    font-family: "Anton";
        font-weight: 400;
    display: block;
    font-size: 60px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: rotate(270deg);
  }

  .subscribe_form {
    margin-top: 115px;
  }

  .subscribe_form__input {
    width: 400px;
  }

  .btn {
    width: 217px;
    font-size: 32px;
  }
}
