@media screen and (min-width: 320px) {
  .wrap {
    /* position: relative; */
    background-color: #b00000;
    padding: 60px 0px 60px 0px;
    width: 100%;
  }

  .section {
    /* max-width: 320px; */
    margin: 0 auto;
  }

  .title {
    display: none;
  }

  .text {
    font-family: "Anton";

    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }

  .social_link {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-top: 5px;
  }

  .subscribe_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 66px;
  }

  .subscribe_form__input {
    color: #ffffff;
    font-size: 25px;
    background: transparent;
    width: 250px;
    height: 41px;
    outline: none;
    border: none;
    padding: 4px 6px;
    border-bottom: 1px solid #fff;
    border-radius: 4px;
  }

  .subscribe_form__input::placeholder {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Anton";
    letter-spacing: 2px;
  }

  .btn {
    letter-spacing: 1.5px;
    font-family: "Anton";
    cursor: pointer;
    margin: 0 auto;
    width: 154px;
    height: 52px;
    background: transparent;
    border-radius: -27px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .section {
    /* max-width: 600px; */
  }

    .wrap {
    /* position: relative; */
    background-color: #b00000;
    padding: 40px 25px 40px 25px;
    width: 100%;
  }

  .title {
    /* display: none; */
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-family: "Anton";
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    /* position: absolute;
    top: 113px;
    left: 0px; */
    /* transform: rotate(270deg); */
  }

  .socialListContainer > p:not(:last-child) {
    margin-bottom: 30px;
  }

  .socialListContainer .social_link {
    display: inline-block;
    margin-top: 10px;
  }

  .social_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .socialListContainer {
    /* margin-right: 80px; */
  }

  .phonesContainer {
    width: 170px;
  }

    .phonesContainer .social_link {
    display: inline-block;
   font-size: 22px;
   margin-top: 10px;
  }


  /* .socialListContainer > p {
    text-align: center;
  }

  .phonesContainer > p {
   text-align: center;
  }

  .phonesContainer .social_link {
    display: inline-block;
   font-size: 22px;
   margin-top: 15px;
  }

    .phonesContainer .social_link:not(:last-child) {
      margin-right: 80px;
    } */
/* 
  .text:last-child {
    margin-left: 135px;
  } */

  /* .text:nth-child(2){
    text-align: end;
  } */

  .text {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .social_link {
    font-size: 22px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
  }

  .subscribe_form__input {
    width: 300px;
  }

  .btn {
    font-size: 24px;
    line-height: 24px;
    width: fit-content;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    /* margin: 0 0 0 9px; */
  }

  .subscribe_form__input::placeholder{
    font-size: 24px;
    line-height: 24px;
  }

  .subscribe_form {
    display: flex;
    /* flex-direction: ; */
    justify-content: center;
    margin-top: 66px;
    
  }

}

@media screen and (min-width: 1280px) {

  .contactsSection {
    position: relative;
  }

  .wrap {
    padding: 120px 50px 100px 50px;
  }

  .text {
    font-family: "Anton";
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 2px;
    /* margin-bottom: 25px; */
  }

    .social_list {
    justify-content: space-evenly;
  }

  .socialListContainer > p:first-child {
    margin-bottom: 50px;
  }

  .text > a {
    display: inline-block;
    margin-top: 15px;
  }

  .social_link {
    font-size: 32px;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
  }

  .phonesContainer .social_link {
    font-size: 28px;
  }

    /* .phonesContainer .social_link:not(:last-child) {
    margin-bottom: 5px;
  } */

  .title {
    font-family: "Anton";
    font-weight: 400;
    display: block;
    font-size: 60px;
    color: #ffffff;
    position: absolute;
    bottom: 50%;
    left: -100px;
    transform: rotate(270deg);
    margin-bottom: 0;
  }

  .subscribe_form {
    margin-top: 168px;
  }

  .subscribe_form__input {
    width: 400px;
  }

  .subscribe_form__input::placeholder{
    font-size: 28px;
    line-height: 35px;
  }

  .btn {
    width: 217px;
    font-size: 28px;
    line-height: 35px;
  }
}
