.background{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/background/backFooter.png");
}
.footer__top{
    padding-top: 20px;
    padding-bottom: 40px;
}
.footer__list{
    display: flex;
    flex-direction: column;
}

.footer__bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    color:white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.footer__nav__list__item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    height: 19px;
    color: #FFFFFF
}
.footer__nav__list__item:not(:last-child){
    margin-bottom: 15px;
}
.footer__list_contacts{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 34px;
}
.footer__list__mail > a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color:white;
    margin-bottom: 15px;
}
.footer__list__tel > a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.footer__list__link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer__list__link__item{
    margin-bottom: 32px;
}
.footer__list__link__item:not(:last-child){
    margin-right: 20px;
}
.footer__list__item > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 17px;
}
.footer__list__left{
    display:none;
}
.footer__list__center{
    display: none;
}
@media screen and (min-width:800px){
   .footer__list__left{
    display: flex;
   }
   .footer__list__left > button{
    display: none;
    }   
   .footer__list__center{
    display: flex;
    /* margin-right: 96px; */
   }
   .footer__list{
    flex-direction: row;
    justify-content: space-around;
   }

   .footer__list__left > div{
    width: 37px;
    height: 50px;
    /* margin-right: 130px; */
   }
   .footer__list__item > div{
    display: flex;
    flex-direction: column;

   }
   .footer__top{
    padding-bottom: 67px;
    padding-top: 50px;
   }
}
@media screen and (min-width: 1280px){
    .footer__list__left > button{
        display:inline-block;
        }   
    .footer__list__item > div > button {
        display: none;
    }
    .footer__list__left{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    .footer__list__left> div{
        margin-bottom: 21px;
    }

   .footer__list__left > div{
    width: 67px;
    height: 89px;
    /* margin-right: 130px; */
   }
}