.works{
    position: relative;
    padding-bottom: 72px;
    padding-top: 100px;
    background: linear-gradient(180deg, #030502 69.17%, #222222 100%);
}
.works > div > div {
    position: relative;
}
.works__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.works__list__item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 620px;
    min-width: 320px;
    cursor: pointer;
}

.works__list__item:hover {
   opacity: .5;
}

.works__list__item__description{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}

.works__list__item__image{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

}

.container__title {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: -100px;
    width: 200px;
    height: 160px;
    transform: rotate(-90deg);
}

.video {
    max-width: 620px;
    min-width: 320px;
}
