.presWorks {
            background-image: url('../../images/back-sex.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            /* width: 100%; */
            height: 100vh;
            font-family: "Bebas Neue";
            padding-top: 15%;
            padding-bottom: 100px;
            padding-left: 10%;
            padding-right: 10%;
            font-size: 24px;
            letter-spacing: 2px;
            color: rgb(92, 91, 91);
}


.text{
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    line-height: 1.2;
    color: rgb(255, 255, 255);
}