  html, body {
    box-sizing: border-box;
    scroll-behavior: smooth;
        margin: 0;
       
        /* scrollbar-color: #6969dd #e0e0e0;
          scrollbar-width: thin; */
  }

  /* ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(169, 169, 169);
}

::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background-color: rgb(51, 0, 255);
} */

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: inherit;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]:hover,
  input[type="number"]:focus {
    -moz-appearance: number-input;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  video::-webkit-media-controls {
    display: none !important;
  }

  :root {
    --black: #000000;
    --white: #ffffff;
  }

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(22, 20, 20, 0.9);
  z-index: 20;
}

footer{
  background-color: black;
}

.buttonForm {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 163px;
  background-color: #B00000;
font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
  
@media screen and (min-width: 360px) {
  .container {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* .titleContainer {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 0;
  width: auto;
  width: 200px;
  height: 160px;
} */

.titleContainerRow{
  position: absolute;
  z-index: 1;
  top: -25%;
  width: 250px;
  height: 160px;
  margin-right: auto;
}

.title {
  z-index: 1;
  position: relative;
  /* position: absolute; */
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  /* right: 0;
  top: 0; */
}

}

@media screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .titleContainer {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: -110px;
  width: 200px;
  height: 160px;
  transform: rotate(-90deg);
}

.titleContainerRow{
  position: absolute;
  z-index: 1;
  top: -25%;
  width: 250px;
  height: 160px;
  margin-right: auto;
}

.title {
  z-index: 1;
  position: absolute;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
  right: 0;
  top: 0;
}

}

    .title::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      border: 1px solid #B00000;
      bottom: -11px;
      left: 0;
    }
