  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: inherit;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]:hover,
  input[type="number"]:focus {
    -moz-appearance: number-input;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  :root {
    --black: #000000;
    --white: #ffffff;
  }


@font-face {
  font-family: "Anton";
  src: url('../fonts/Anton/Anton-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #161414;
  opacity: .7;
  z-index: 1;
}
footer{
  background-color: black;
}

 @media screen and (max-width: 767px) {
   .containerStretch {
     margin-left: auto;
     margin-right: auto;
     padding-left: 20px;
     padding-right: 20px;
     min-width: 320px;
   }
 }

 @media screen and (min-width: 768px) {
   .containerStretch {
     min-width: 768px;
     padding-left: 25px;
     padding-right: 25px;
   }
 }

 @media screen and (min-width: 1280px) {
   .containerStretch {
     min-width: 1280px;
     padding-left: 50px;
     padding-right: 50px;
   }
 }

 @media screen and (min-width: 1920px) {
   .containerStretch {
     min-width: 1920px;
     padding-left: 100px;
     padding-right: 100px;
   }
 }

   .isFixed {
    position: fixed;
    width: 100%;
  }

    .qwe {
    position: relative;
    padding-top: 100vh;
  }