@media screen and (min-width: 320px) {
  .wrap {
    padding: 40px 20px 30px 20px;
    width: 100%;
  }

  /* .containerFotoCreators {
    max-width: 630px;
    margin: 0 auto;
  }

  .containerFotoCreators:first-child {
    margin-bottom: 50px;
  } */

  .team_list {
    justify-content: center;
   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .card_team {
    width: 100%;
    margin-bottom: 30px;
    max-width: 302px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .text_wrap {
    margin-top: 7px;
  }

  .role_p {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 3px;
    color: #fff;
  }

  .name_p {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    word-spacing: 100vw;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    letter-spacing: 3px;
    margin: 0 0 0 -1px;
    color: #fff;
  }

  .textAbout {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    letter-spacing: 4px;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
    max-width: 500px;
    margin: 0 auto; 
    padding: 0px 15px 0px 15px;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {

  .containerFotoCreators {
    margin-bottom: 50px;
  }

  .team_list {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card_team {
    margin-bottom: 0px;
  }

  .card_team:first-child {
    display: flex;
    flex-direction: column-reverse;
  }

  .text_wrap {
    margin-top: 0px;
  }

 .role_p {
   font-size: 22px;
 }

  .name_p {
    margin-bottom: 10px;
  }

  .textAbout {
    font-size: 38px;
    line-height: 40px;
    max-width: 650px;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    z-index: 1;
  }

  .containerFotoCreators {
    margin-bottom: 40px;
  }

  .team_list {
    justify-content: space-evenly;
  }

    .card_team {
    margin-bottom: 0px;
  }

  .card_team:first-child {
    display: flex;
    flex-direction: column;
  }

  .card_team:not(:last-child) {
    margin-right: 0px;
  }

  .text_wrap {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  .name_p {
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
      font-weight: bold;
    letter-spacing: 4px;
  }

  .role_p {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
    margin-bottom: 2px;
    letter-spacing: 2px;
  }

  .team_list {
    flex-direction: row;
  }

  .textAbout {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #fff;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
  }
}

 .zxc {
  background-image: url('../../images/back-three.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}