@media screen and (min-width: 320px) {
  .wrap {
    background-color: #000;
    padding: 90px 25px 80px 25px;
    width: 100%;
  }

  .section {
    max-width: 630px;
    margin: 0 auto;
  }

  .p {
    font-family: "Anton";
    text-align: center;
    letter-spacing: 2px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    transition: 0.3s ease;
    color: #fff;
  }

  .team_list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin: 0 -32px; */
    padding: 0;
    list-style: none;
    align-items: center;
  }

  .card_team {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    max-width: 302px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .name_p {
    text-align: center;
    letter-spacing: 2px;
    font-family: "Anton";
    word-spacing: 100vw;
    font-size: 32px;
    line-height: 1;
    margin: 0 0 0 -1px;

    color: #fff;
  }

  .role_p {
    text-align: center;
    letter-spacing: 2px;
    font-family: "Anton";
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
  }

  .social_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 800;
    list-style: none;
    padding: 0;
  }

  .social_link {
    font-size: 20px;
    text-decoration: none;
    color: #b00000;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .p {
    font-size: 40px;
    line-height: 42px;
  }

  .card_team:not(:last-child) {
    margin-right: 15px;
  }

  .card_team:first-child {
    display: flex;
    flex-direction: column-reverse;
  }


  .social_link {
    font-size: 22px;
  }

  /* .card_team {
    max-width: 370px;
  } */

  .team_list {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .social_list {
    width: 286px;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    height: 100vh;
    /* padding: 150px 180px; */
  }

  .section {
    max-width: 785px;
  }

  .p {
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;
  }

  .team_list {
    justify-content: space-evenly;
  }

  .card_team:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .text_wrap {
    position: relative;
    top: 0;
    margin-top: 5px;
    width: 100%;
        text-align: center;
  }

  .name_p {
        font-family: "Anton";
        display: block;
    /* text-transform: uppercase; */
  }

  .role_p {
    text-align: center;
    font-family: "Anton";
    margin-bottom: 5px;
  }

  .social_link {
    font-size: 30px;
  }

  .card_team {
    /* max-width: 370px; */
  }

  .team_list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
