.section {
    background-color: black;
    background-image: url("../../../images/background/forAct-backG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}

.attentionText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #B00000;
}

.container__title {
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.forActorsButtonMore {
    width: 163px;
    background-color: #B00000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.forActorsButtonMore>a {
    padding-top: 11px;
    padding-bottom: 11px;
    display: inline-block;
    padding-left: 38px;
    padding-right: 38px;
    color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
.section {
    background-color: black;
    background-image: url("../../../images/background/forAct-backG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
    padding-bottom: 115px;
}

.attentionText {
    font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #B00000;
}

.forActorsButtonMore {
    width: 163px;
    background-color: #B00000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.forActorsButtonMore>a {
    padding-top: 11px;
    padding-bottom: 11px;
    display: inline-block;
    padding-left: 38px;
    padding-right: 38px;
    color: #FFFFFF;
}

.container__title {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: -100px;
    width: 200px;
    height: 160px;
    transform: rotate(-90deg);
}

}