.section {
    background-color: black;
    background-image: url("../../../images/background/forAct-backG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}

.attentionText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #B00000;
}

@media screen and (min-width: 1280px) {
.section {
    background-color: black;
    background-image: url("../../../images/background/forAct-backG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
    padding-bottom: 115px;
}

.attentionText {
    font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #B00000;
}

}